version: "3.9"

networks:
    docker:
        name: ${COMPOSE_PROJECT_NAME}_network

services:
    # Main services overrides
    api:
        container_name: ${COMPOSE_PROJECT_NAME}_dev_api
        build:
            context: ./api
            target: dev
        volumes:
            - ../api/:/srv/:rw

    frontend:
        container_name: ${COMPOSE_PROJECT_NAME}_dev_frontend
        build:
            context: ./frontend
            target: dev
        volumes:
            - ../frontend/:/srv/:rw

    # Dev-only images
    adminer:
        container_name: ${COMPOSE_PROJECT_NAME}_adminer
        image: adminer
        ports: ["8080:8080"]
        networks: [docker]
        environment:
            ADMINER_DEFAULT_SERVER: ${COMPOSE_PROJECT_NAME}_pgsql

    pgsql_test:
        container_name: ${COMPOSE_PROJECT_NAME}_pgsql_test
        image: ${COMPOSE_PROJECT_NAME}_pgsql_test
        build: pgsql
        networks: [docker]
        ports: ["${POSTGRES_TEST_PORT}:5432"]
        environment:
            POSTGRES_DB: ${POSTGRES_TEST_DATABASE}
            POSTGRES_USER: ${POSTGRES_TEST_USERNAME}
            POSTGRES_PASSWORD: ${POSTGRES_TEST_PASSWORD}


    # Overriding traefik for debug config
    traefik:
        ports:
            - "8000:8080"
        command:
            - "--entrypoints.web.address=:${PROJECT_ENTRY_PORT}"
            - "--providers.docker=true"
            - "--providers.docker.exposedbydefault=false"
            - "--log.level=DEBUG"
            - "--api.insecure=true"
            - "--accesslog=true"