
// header and footer
$header-height: 10vh
$header-padding: 4vw


// main colours
$background: rgb(39, 44, 47)
$text-color: #cdcdcd

// accents
$accent-bg: rgb(48, 56, 59)


$primary: darken($accent-bg, 3.5%)

// links
$link-color: rgb(83, 148, 246)